
<img src="assets/1.png" alt="mock-up1" class="mock-up" (mouseenter)="zoom('zoomed')" (mouseleave)="zoom('normal')" [@zoomIn]="animationState">
<img src="assets/2.png" alt="mock-up2" class="mock-up" (mouseenter)="zoom('zoomed')" (mouseleave)="zoom('normal')" [@zoomIn]="animationState">
<img src="assets/3.png" alt="mock-up3" class="mock-up" (mouseenter)="zoom('zoomed')" (mouseleave)="zoom('normal')" [@zoomIn]="animationState">
<img src="assets/4.png" alt="mock-up4" class="mock-up" (mouseenter)="zoom('zoomed')" (mouseleave)="zoom('normal')" [@zoomIn]="animationState">
