
.mock-up-titel {
font-size: 35px;
font-style: normal;
margin-bottom: 25px;
margin-left: 14px;

}

.mock-ups {
  display: flex;
  margin: 0 10px;

}

.mock-up {
  display: block;
    max-height: 480px;
    margin-right: 14px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Voeg een overgang toe voor een vloeiende animatie */
  }

  .mock-up img {
    width: 100%;
    max-height: 100%;
  }

  .mock-up {
    overflow: hidden;
  }

  .mock-ups a:last-child {
    margin-right: 0px;

  }
  