
<img src="assets/1.png" alt="mock-up1" class="mock-up" (mouseenter)="zoom('mockup1', 'zoomed')" (mouseleave)="zoom('mockup1', 'normal')" [@zoomIn]="animationStates['mockup1']">
<img src="assets/2.png" alt="mock-up2" class="mock-up" (mouseenter)="zoom('mockup2', 'zoomed')" (mouseleave)="zoom('mockup2', 'normal')" [@zoomIn]="animationStates['mockup2']">
<img src="assets/3.png" alt="mock-up3" class="mock-up" (mouseenter)="zoom('mockup3', 'zoomed')" (mouseleave)="zoom('mockup3', 'normal')" [@zoomIn]="animationStates['mockup3']">
<img src="assets/4.png" alt="mock-up4" class="mock-up" (mouseenter)="zoom('mockup4', 'zoomed')" (mouseleave)="zoom('mockup4', 'normal')" [@zoomIn]="animationStates['mockup4']">
