

<!-- slideshow.component.html -->

<div [@fadeInOut]="fadeInOutState" class="slideshow-container">
    <img [src]="'/assets/' + images[currentImageIndex]" alt="Slideshow Image" [@fadeInOut]>
    <div class="text-box">
      <h1>Innovatieve Ontwerpen: Drie Unieke Figma Designs</h1>
      <p class="p">Welkom op onze inspirerende ontwerpwereld, waar vorm en functie samenkomen in drie opmerkelijke Figma-ontwerpen. Ontdek de kunst van digitale creativiteit terwijl we je meenemen op een reis door strakke interfaces, boeiende visuals en doordachte gebruikerservaringen. 
        <br>
        <br>
        Elk ontwerp vertelt zijn eigen verhaal en belichaamt de inspanningen van ons team om esthetiek te combineren met functionaliteit. Duik in de details, laat je inspireren en ervaar de veelzijdigheid van Figma als een krachtige ontwerptool. </p>
    </div>
  </div>

  