

/* In de stijl van je component (slideshow.component.css) */
:host .slideshow-container {
  position: relative; 
  max-width: auto;
  margin: 1 auto; 
  opacity: 1;
  transition: opacity 1s;
  padding-left: 50px;
}

  
  .text-box {
    position: absolute;
    bottom: 0;
    left: 75%;
    transform: translateX(-40%);
    background-color: rgba(255, 106, 26, 0.82);
    padding: 0px;
    text-align: center;
}

 
  .p {
    font-size: 20px;
  }
 
  