
<div>
  <app-slideshow></app-slideshow>
  <!-- Andere inhoud van de hoofdcomponent -->
</div>
<br>
<br>
<br>
<br>
<br>
<card-container> 
  <h2 class="Titel">Your vision, Our designs</h2>
<swiper-container
navigation="true"
pagination="true"
pagination-clickable="true"
>     
  <swiper-slide>
  <img src="/assets/Figmadesign1.png" alt="Figmadesign 1" >
    <p class="Titeldesign">Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <a href="/assets/Figmahomepage3.png">
      <button type="button">Zie meer</button>
    </a>
  </swiper-slide>

  <swiper-slide>
  <img src="/assets/Figmadesign2.png" alt="Figmadesign 2" >
  <p class="Titeldesign">Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <a href="/assets/Figmahomepage2.png">
      <button type="button">Zie meer</button>
    </a>
  </swiper-slide>

  <swiper-slide>
  <img src="/assets/Figmadesign3.png" alt="Figmadesign 3" >
  <p class="Titeldesign">Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <p class="beschrijving">-Lorem Ipsum</p>
    <a href="/assets/Figmahomepage1.png">
      <button type="button">Zie meer</button>
    </a>
  </swiper-slide>
</swiper-container>
</card-container>

