
body{
    background: #FF8902;
}

.Titel{
    color: #000;
    font-family: Inter;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Titeldesign{
    color: #191919;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.beschrijving{
    color: #191919;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

swiper-slide{
    
    img{
        height: 500px; 
        width: auto;
        border-radius: 10%;
    }
    

}

swiper-container{
    background: #FF8902;
}

button{
    height: 40px;
    width: 150px;
    background-color: #fff;
    color: #191919;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
