
body{
    background: rgb(255,179,45);
    background: linear-gradient(90deg,  rgba(255,179,45,1) 6%, rgba(254,162,0,1) 17%, rgba(255,124,0,1) 41%);
}

.Titel{
    color: #000;
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 120px;
    position: relative;
    top: 15px;
}

.Titeldesign{
    color: #191919;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 1150px;
    position: relative;
    top: -380px;

}

.beschrijving{
    color: #191919;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 1150px;
    position: relative;
    top: -380px;
    
       
}

swiper-slide{
    
    img{
        height: 450px; 
        width: auto;
        border-radius: 10%;
        margin-left: 120px;
        position: relative;
        top: 50px;
    }
    height: 750px;
    

}

swiper-container{
    background: rgb(255,179,45);
    background: linear-gradient(90deg,  rgba(255,179,45,1) 6%, rgba(254,162,0,1) 17%, rgba(255,124,0,1) 41%);
    
}

button{
    height: 40px;
    width: 150px;
    background-color: #fff;
    color: #191919;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1170px;
    position: relative;
    top: -380px;
    transition: background-color 0.3s ease;
    border-color: #000;
}

button:hover {
    text-decoration: underline; /* Change to the desired hover background color */
    border-color: #000; /* Change to the desired hover text color */
    /* Additional styles for hover state */
}
