
body{
    background: #FF8902;
}

.Titel{
    color: #000;
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 120px;
    position: relative;
    top: 25px;
}

.Titeldesign{
    color: #191919;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 1190px;
    position: relative;
    top: -380px;

}

.beschrijving{
    color: #191919;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 1190px;
    position: relative;
    top: -380px;
    
       
}

swiper-slide{
    
    img{
        height: 500px; 
        width: auto;
        border-radius: 10%;
        margin-left: 120px;
        position: relative;
        top: 50px;
    }
    height: 750px;
    

}

swiper-container{
    background: #FF8902;
    
}

button{
    height: 40px;
    width: 150px;
    background-color: #fff;
    color: #191919;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1200px;
    position: relative;
    top: -380px;
    transition: background-color 0.3s ease;
    border-color: #000;
}

button:hover {
    background-color: #FFB205; /* Change to the desired hover background color */
    color: #fff;
    border-color: #000; /* Change to the desired hover text color */
    /* Additional styles for hover state */
}
