/* designnavigator.component.css */

.designnavigator-container {
    width: 100%;
  }
  
  .designnavigator-slide {
    width: 100%;
    height: auto; /* Adjust as needed */
    color: #191919;
    font-family: Inter;
    font-size: 24px; /* Adjust as needed */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  /* Add additional styles or overrides as needed */
  