/* styles.css */
header {
    padding: 20px;
}

body{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    width: 361px;
    height: 90px;
    flex-shrink: 0;
    position: relative; /* Gebruik absolute positionering */
    z-index: 1;
  }
    

.mock-up{
    width: 400px;
    height: 480px;
    margin-left: 14px;
}






.functies{
    width: 179px;
    height: 72px;
    flex-shrink: 0;
    color: #191919;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 150px;
}


.project{
    width: 277px;
    height: 57px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo2{
    width: 361px;
    height: 90px;
    flex-shrink: 0;
}

.Design{
    width: 720px;
    height: 426px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 150px;
}

.container {
    display: flex; 
    align-items: center; 
}


.figmadesign2 p.lorem{
    margin: 0;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 50px;
}

footer {

    background-color: #FF8902;
    display: flex;
    align-items: right;
}

.footertext {  
    margin-left: 1000px;
    margin-bottom: 40px; 
}

