/* styles.css */
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: url(assets/Font/poppins-regular1-webfont.woff) format('woff'),
         url(assets/Font/poppins-regular1-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    src: url(assets/Font/poppins-bold-webfont.woff) format('woff'),
         url(assets/Font/poppins-bold-webfont.woff2) format('woff2');
}

header {
    padding: 20px;
}

body{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Poppins';
    font-weight: 900;
}

h2 {
    font-family: 'Poppins';
    font-weight: 100;
}

h1 {
    font-family: 'Poppins';
    font-weight: 100;
}



.logo {
    width: 300px;
    height: 80px;
    flex-shrink: 0;
    position: relative; /* Gebruik absolute positionering */
    z-index: 1;
  }
    






.functies{
    width: 179px;
    height: 72px;
    flex-shrink: 0;
    color: #191919;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 150px;
}


.project{
    width: 277px;
    height: 57px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo2{
    width: 301px;
    height: 80px;
    flex-shrink: 0;
    position: center;
}

.Design{
    width: 720px;
    height: 426px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 150px;
}

.container {
    display: flex; 
    align-items: center; 
}


.figmadesign2 p.lorem{
    margin: 0;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 50px;
}

footer {

    background: rgb(255,179,45);
    background: linear-gradient(90deg,  rgba(255,179,45,1) 6%, rgba(254,162,0,1) 17%, rgba(255,124,0,1) 41%);
    display: flex;
    align-items: right;
}

.footertext {  
    margin-left: 1000px;
    margin-bottom: 40px; 
}

